@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box; /* Keep consistent box sizing */
}

body {
  font-family: "Montserrat", sans-serif; 
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
